@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 140ms ease-in-out;
    font-family: 'Poppins', sans-serif, arial;
}

:root{
    --primary_color:#CC1A1A;
    --gray_color: #DEDEDE;
    --darker_gray: #3B3B3B;
    --almost_white: #F5F5F5;

}
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100svh;
}
html::-webkit-scrollbar{
    display: none;
}

body{
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    grid-template-rows: 56px 1fr;
    grid-template-areas: 
    "nav nav nav"
    "side1 main side2";
    width: 100%;
    height: 100svh;
    position: relative;
    z-index: 1;
}

nav{
    z-index: 1;
    grid-area: nav;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.nav-selection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-right: 8px;
}
nav img{
    object-fit: cover;
    object-position: -12px -6px;
}
nav .imageCont:hover img{
    cursor: pointer;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes spin{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    15%{
        transform: translateX(20px);
        opacity: 100;
    }
    20%{
        transform: translateX(-10px);
    }
    23%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0px);
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
.nav-selection svg:not(.active) path{
    fill: hsl(from var(--primary_color) h s l/50%)
}
.nav-selection svg:not(.active):hover path{
    fill: var(--primary_color);
}
 .nav-selection svg:hover{
    width: 40px;
    height: 40px;
 }
.nav-selection .active path{
    fill: var(--primary_color);
}
.nav-selection .active{
    filter:drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.411));
}
nav .nav-selection #hamburgerBtn{
    display: none;
}
main{
    z-index: 1;
    grid-area: main;
}
.profileSideBar{
    grid-area: side1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1;
    padding: 1em 1em;
    background-color: #DEDEDE;
}
.profileSideBar .profile{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
}
.profileSideBar .profile img{
    border-radius: 50%;
    border: 3px solid black;
    width: 120px;
}
.profileSideBar .profile img:hover{
    transform: scale(1.1);
}
.profileSideBar .sideBtn{
    border-radius: 16px;
    padding: 4px;
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    background-color: var(--almost_white);
}
.profileSideBar .sideBtn.active svg, .profileSideBar .sideBtn.active{
    fill: white;
    color: white;
    background-color: var(--primary_color);
    }
.profileSideBar .sideBtn.active{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.712);
}
#logoutBtn{
    height: 40px;
}
#logoutBtn p{
    margin-left: 39px;
}
.profileSideBar .sideBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.705);
}
.profileSideBar .sideBtn:not(.active):hover{
    background-color: hsl(from var(--primary_color) h s calc(l + 30));
    color: white;
    fill: white;
    
}

.miscellaneousSideBar{
    grid-area: side2;
}

main{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    overflow-y: auto;
}
main .topProdContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 34px;
    background-color: hsl(from var(--gray_color) h s calc(l + 5));
}
main .topProdContainer .itemCont{
    display: flex;
    gap: 24px;
    overflow-x: auto;
}

main .topProdContainer h2{
    font-size: 32px;
    font-style: italic;
}
main .topProdContainer .itemCont .item{
    padding: 16px;
}
main .topProdContainer .itemCont .item:hover{
    transform: scale(1.1);
}
main .mainContent .postContainer img{
    width: 100%;
    border-radius: 12px;
}
main .mainContent{
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
}
main .topProdContainer .itemCont::-webkit-scrollbar, .miscellaneousSideBar .voucherTab .allVoucherCont::-webkit-scrollbar{
    display: none;
}

main .mainContent .postContainer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 24px;
    border-radius: 16px;
    background-color: hsl(from var(--gray_color) h s calc(l + 6));
}

main .mainContent .postContainer .iconHolder{
    display: flex;
    align-items: center;
    gap: 24px;
}
main .mainContent .postContainer .iconHolder svg:hover{
    cursor: pointer;
    transform: scale(1.2);
}


.miscellaneousSideBar{
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 95%;
    gap: 24px;
    overflow-y: auto;
    position: relative;
}

.miscellaneousSideBar .voucherTab .allVoucherCont{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    gap: 16px;
}
.miscellaneousSideBar .voucherTab .allVoucherCont .voucherContainer{
    scroll-snap-align: start;
    padding: 16px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-style: italic;
}
.miscellaneousSideBar .voucherTab .allVoucherCont .voucherContainer:hover{
    transform: scale(1.1);
}
.miscellaneousSideBar .messageTab h4::before{
    content: "\2022";
    color: rgb(13, 250, 13);
    font-size: 24px;
    margin-right: 8px;
    margin-left: 8px;
}
.miscellaneousSideBar .messageTab{
    margin-bottom: 100px;
}
.miscellaneousSideBar .messageTab h4:hover{
    transform: scale(1.1);
    border: 1px solid black;
    background-color: hsl(from var(--primary_color) h s calc(l + 50));
    border-radius: 24px;
    cursor: pointer;
}
.miscellaneousSideBar a #contact{
    position: fixed;
    top: 95%;
    right: 24px;
    font-size: 16px;
}
.miscellaneousSideBar a #contact:hover{
    cursor: pointer;
    border:1px solid #000000;
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(2px);
    padding: 4px;
    transform: translate(-24px,-10px);
    font-size: 18px;
    animation: colorSwitch ease-in-out 5s infinite;
}
.clickedHeart{
    fill: var(--primary_color) !important;
    animation: pop ease-out 0.8s;
}
.commentTab{
    display: none;
    z-index: 3;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    bottom: 0;
    right: 100px;
    border-radius: 24px;
    border: 4px solid black;
    padding: 100px 100px 0px 100px;
    flex-direction: column;
    gap: 24px;
}
.commentTabOpen{
    animation: slideUp ease-out 0.8s;
}
.commentTabClose{
    animation: slideUpClose ease-out 0.8s;
    animation-fill-mode: forwards;
}
@keyframes slideUpClose {
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(-20px);
    }
    40%{
        transform: translateY(700px);
    }
    58%{
        transform: translateY(1000px);
    }
    100%{
        transform: translateY(1000px);
    }
}
@keyframes slideUp{
    0%{
        transform: translateY(1000px);
    }
    30%{
        transform: translateY(-10px);
    }
    55%{
        transform: translateY(5px);
    }
    58%{
        transform: translateY(0px);
    }
}
.commentTab .message p, .commentTab .message span a{
    text-align: justify;
}
.darkFilter{
    display: none;
    background-color: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(2px);
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}
@keyframes pop{
    0%{
       transform: scale(1.2) 
    }
    50%{
        transform: scale(1.5);
    }
    55%{
        transform: scale(0.5);
    }
    60%{
        transform: scale(1.03);
    }
    62%{transform: scale(1);}
    
}

@keyframes colorSwitch{
    0%{
        color: black;
    }
    30%{
        color: var(--primary_color);
    }
    60%{
        color: #56019b;
    }
    90%{
        color: #000333;
    }
    100%{
        color: black;
    }
}

@media screen and (max-width: 886px) {
    body{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "main";
    }
    .miscellaneousSideBar{
        display: none;
    }
    .profileSideBar{
        display: none;
    }
    .commentTab{
        right: 54px;
        padding: 50px 50px 0px 50px;
    }
    nav img{
        display: none;
    }
    .sidebar-hidden {
        display: none !important;
    }
    .main-hidden{
        display: none !important;
    }

    .sidebar-shown {
        display: flex !important;
    }
    nav{
        justify-content: center;
        align-items: center;
        position: relative;
    }
    nav .nav-selection{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    nav .nav-selection #hamburgerBtn{
        display: inline-block;
    }
    main .topProdContainer .itemCont{
        scroll-snap-type: x proximity;
    }
    main .topProdContainer .itemCont .item{
        scroll-snap-align: start;
    }
    .profileSideBar .sideBtn:hover{
        transform: scale(1.02);
    }

}